@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: 214 32% 91%;
  --input: 214 32% 91%;
  --ring: 214 32% 91%;
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-sans {
  font-family: "Geist", sans-serif; /* if Geist is your fallback */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @apply border-gray-200; /* safe */
}

body {
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-color: #0a0c16;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 180, 255, 0.3) transparent;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0ea5e9;
}

 

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 2. Remove the spinners for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}